$theme_primary: #ffe400;
$theme_success: #20bf6b;
$theme_error: #eb3b5a;

#login {
    color: rgba(45,45,45,1);

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            background-image: url('https://philblakemore.com/wp-content/uploads/2019/05/logoNew.png');
            background-size: 200px !important;
            height: 200px;
            width: 200px !important;
            margin: 0px;
        }
    }
    p.message {
        box-shadow: none;
        background-color: transparent;
        border: 0px;
        text-align: center;
        font-weight: bold;
    }

    form {
        background-color: transparent;
        border: 0px;
        box-shadow: none;

        p {

            label {
                border: 0px;

                input {
                    background-color: transparent;
                    border: 0px;
                }
            }

            &.forgetmenot {
                margin-bottom: 5px;
            }
            &.submit {
                input {
                    width: 100%;
                    background-color: $theme_success;
                    border: 0px;
                    box-shadow: none;
                    text-shadow: none;
                }
            }
        }
    }
}
