#login{color:#2d2d2d}#login h1{display:flex;align-items:center;justify-content:center}#login h1 a{background-image:url("https://philblakemore.com/wp-content/uploads/2019/05/logoNew.png");background-size:200px !important;height:200px;width:200px !important;margin:0px}#login p.message{box-shadow:none;background-color:transparent;border:0px;text-align:center;font-weight:bold}#login form{background-color:transparent;border:0px;box-shadow:none}#login form p label{border:0px}#login form p label input{background-color:transparent;border:0px}#login form p.forgetmenot{margin-bottom:5px}#login form p.submit input{width:100%;background-color:#20bf6b;border:0px;box-shadow:none;text-shadow:none}
/*# sourceMappingURL=login.css.map */
